* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vw;
}

/* Img Containers */
.container {
    display: flex;
    height: 10%;
}

.container .second {
    transform: translate(-50%);
}

.container .third {
    transform: translate(-100%);
}

img {
    position: relative;
    height: 300px;
    width: auto;
}

img:hover {
    z-index: 1;
    transform: scale(1.2);
}