* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vw;
}

/* Img Containers */
.container {
    display: flex;
    top: 0;
    left: 0;

    height: 30%;
    width: 80%;
}